<div class="question-container">
  <h2 class = 'title'>Ask a question</h2>
  <div id = 'form' class = 'form-group-s'>
    <form action="/answer" method = 'get' class = 'd-flex justify-content-center align-items-center'>
      <input type="text" name="question" class = 'form-control input-sm'>
      <input type="submit" value="Ask!" class = 'btn btn-primary'>
    </form>
  </div>
</div>
